.card button {
  margin-top: 20px;
  width: 100%;
  background: linear-gradient(135deg, #646cff, #05d9e5);
  color: white;
  border: none;
  font-weight: 600;
}

.card button:hover {
  opacity: 0.9;
}
